*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:black;
    text-align:center;
    padding: 15px 0;
    transition:background-color 0.3s;
}

.scrolled {
    background-color: grey;
}

nav ul {
    list-style: none;
    display: flex;
   justify-content:center;
}

nav ul li a {
    margin:0 15px;
}

nav ul li a{
    text-decoration:none;
    color: white;
    font-size:20px;
    transition:color 0.3s
}

nav ul li a:hover{
color:orange;
}
section{
   min-height:20vh;
    display:flex;
    align-items:center;
    text-align:center;
    padding:20px;
}